{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<section id="options" class="options">
    <div class="option-combo">
      <h2>Filter:</h2>
      <div id="filter" class="filter option-set" data-option-key="filter">
    	<a href=#show-all data-option-value="*" class="selected btn">show all</a>
		<f:for each="{categories}" as="category">
			<v:var.set name="class" value="{v:format.replace(substring: ' ', content: category, replacement: '-')}" />
		    <a href=#{class} class="btn" data-option-value=".{class}">{category}</a>
		</f:for>
 	 </div>
   </div>
</section>

<!-- elements -->
<div class="isotope-container clearfix">
<f:for each="{isotopeContents}" as="isotopeContent" iteration="num">
	<div class="isotope-item {isotopeContent.categories}"><f:format.raw>{isotopeContent.content}</f:format.raw></div>
</f:for>
<div class="clearfix"></div>
</div>

	<v:asset.style allowMoveToFooter="FALSE" name="css-isotope"> 
		
		.isotope-item {
			width: 23%;
			min-height: 250px;
			margin: 1%;
			float: left;
			overflow: hidden;
		}

		.isotope-item .top-part{
			position:relative;
		}

		.isotope-item .top-part h3 {
			position: absolute;
			bottom: 0;
			background: rgba(0,0,0,.5);
			color: #fff;
			margin: 0;
			padding: 6px 12px;
			line-height: 30px;
			width:100%;
		}	

		.isotope-item .bottom-part {
			padding: 0 15px;
		}

		.tx-pxa-isotope .filter a {
			background: #d8d8d8;
			border: 0;
			border-radius: 0;
			text-shadow: none;
			padding: 8px 20px;
			color: white;
			text-transform: capitalize;
			font-family: 'Titillium Web';
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 10px;
			-webkit-transition: background-color .2s linear;
			  -moz-transition: background-color .2s linear;
			  -o-transition: background-color .2s linear;
			  transition: background-color .2s linear;

		}

		.tx-pxa-isotope .options{
			padding-left: 10px;
		}

		.tx-pxa-isotope .filter a:hover,
		.tx-pxa-isotope .filter a.selected {
			background: #66bc29;
		}

		.tx-pxa-isotope .filter a.btn:focus,
		.tx-pxa-isotope .filter a.btn:active
		{
			-webkit-box-shadow: none;
			   -moz-box-shadow: none;
					box-shadow: none;
		}

		@media screen and (max-width:767px) {
			.isotope-item {
				width: 48%;
				height: auto;
			}

		}
	</v:asset.style>

	<v:asset.script path="{f:uri.resource(path: 'Js/masonry.pkg.js', extensionName: 'PxaIsotope')}" name="script-masnory" overwrite="FALSE" standalone="TRUE" allowMoveToFooter="FALSE" trim="TRUE" ></v:asset.script>

	<v:asset.script path="{f:uri.resource(path: 'Js/isotope.pkgd.min.js', extensionName: 'PxaIsotope')}" name="script-isotope" overwrite="FALSE" standalone="TRUE" allowMoveToFooter="FALSE" trim="TRUE" ></v:asset.script>
	
	<v:asset.script name="script-fce47-init-isotope" allowMoveToFooter="TRUE" arguments="layoutMode" standalone="TRUE">
		$(document).ready(function() {
			
			var layoutMode = "{layoutMode}";
			var $container = $('.tx-pxa-isotope .isotope-container');
			$container.isotope({
				itemSelector : '.isotope-item',
				layoutMode: layoutMode,
				resizable: false,
				hiddenStyle: {
					opacity: 0,
				},
				visibleStyle: {
					opacity: 1,
					transform: 'rotate(7deg)'
				}
			});
			
			 var $optionSets = $('#filter .option-set'),
    		     $optionLinks = $optionSets.find('a');

			$('.tx-pxa-isotope .filter a').click(function(e){
				e.preventDefault();
				var filtering = $(this).attr('data-option-value');
				$container.isotope({ filter: filtering});
				var $this = $(this);
		        if ( $this.hasClass('selected') ) {
        		  return false;
        		}
 		       var $optionSet = $this.parents('.option-set');
        	 	$optionSet.find('.selected').removeClass('selected');
        		$this.addClass('selected');
			});

			$(window).resize(function(){
			  $container.isotope({
			    // update columnWidth to a percentage of container width
			    masonry: { columnWidth: $container.width() / 4 }
			  });
			});
		});

	</v:asset.script>
</f:section>